USE [master]
GO
/****** Object:  Database [FetihlerV2]    Script Date: 24.09.2023 12:53:23 ******/
CREATE DATABASE [FetihlerV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FetihlerV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FetihlerV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FetihlerV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FetihlerV2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FetihlerV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FetihlerV2]
GO
/****** Object:  Table [dbo].[tbl_Araclar]    Script Date: 24.09.2023 12:53:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Araclar](
	[AracNo] [int] IDENTITY(1,1) NOT NULL,
	[AracAdi] [varchar](50) NULL,
	[AracSahip] [int] NULL,
	[Seç] [bit] NULL,
	[Aktiflik] [bit] NULL,
	[AracKapasite] [int] NULL,
 CONSTRAINT [PK_tbl_Araclar] PRIMARY KEY CLUSTERED 
(
	[AracNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Bolgeler]    Script Date: 24.09.2023 12:53:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Bolgeler](
	[BolgeNo] [int] IDENTITY(1,1) NOT NULL,
	[BolgeAdi] [varchar](50) NULL,
	[BolgeAciklama] [varchar](200) NULL,
	[Aktiflik] [bit] NULL,
	[BolgeSorumlusu] [varchar](50) NULL,
	[BolgeYardımcısı] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Bolgeler] PRIMARY KEY CLUSTERED 
(
	[BolgeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Donemler]    Script Date: 24.09.2023 12:53:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Donemler](
	[DonemNo] [int] IDENTITY(1,1) NOT NULL,
	[DonemAdi] [varchar](50) NULL,
	[PaketAgirligi] [int] NULL,
	[Aktiflik] [bit] NULL,
 CONSTRAINT [PK_tbl_Donemler] PRIMARY KEY CLUSTERED 
(
	[DonemNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Erzaklar]    Script Date: 24.09.2023 12:53:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Erzaklar](
	[ErzakNo] [int] IDENTITY(1,1) NOT NULL,
	[ErzakAdi] [varchar](50) NULL,
	[DonemNo] [int] NULL,
 CONSTRAINT [PK_tbl_Erzaklar] PRIMARY KEY CLUSTERED 
(
	[ErzakNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Gorevliler]    Script Date: 24.09.2023 12:53:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Gorevliler](
	[GorevliNo] [int] IDENTITY(1,1) NOT NULL,
	[GorevliAd] [varchar](50) NULL,
	[GorevliSoyAd] [varchar](50) NULL,
	[GorevliCinsiyet] [varchar](50) NULL,
	[GorevliTel] [varchar](50) NULL,
	[Aktiflik] [bit] NULL,
	[Seç] [bit] NULL,
 CONSTRAINT [PK_tbl_Gorevliler] PRIMARY KEY CLUSTERED 
(
	[GorevliNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Hastaliklar]    Script Date: 24.09.2023 12:53:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Hastaliklar](
	[HastalikNo] [int] IDENTITY(1,1) NOT NULL,
	[HastalikAdi] [varchar](50) NULL,
	[Aktiflik] [bit] NULL,
 CONSTRAINT [PK_tbl_Hastalik] PRIMARY KEY CLUSTERED 
(
	[HastalikNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Kategoriler]    Script Date: 24.09.2023 12:53:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Kategoriler](
	[KategoriNo] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [varchar](50) NULL,
	[Aktiflik] [bit] NULL,
 CONSTRAINT [PK_tbl_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Kisiler]    Script Date: 24.09.2023 12:53:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Kisiler](
	[KisiNo] [int] IDENTITY(1,1) NOT NULL,
	[KisiAd] [varchar](50) NULL,
	[KisiSoyAd] [varchar](50) NULL,
	[DogumTarihi] [datetime] NULL,
	[MedeniHal] [varchar](5) NULL,
	[Cinsiyet] [varchar](5) NULL,
	[EvDurumu] [varchar](3) NULL,
	[AraziDurumu] [varchar](3) NULL,
	[BüyükBas] [varchar](3) NULL,
	[KücükBas] [varchar](3) NULL,
	[BakımDurumu] [varchar](10) NULL,
	[IsDurumu] [varchar](12) NULL,
	[EkBilgi] [varchar](250) NULL,
	[Hastalik] [int] NULL,
	[Koy] [int] NULL,
	[Kategori] [int] NULL,
	[Aktiflik] [bit] NULL,
	[Seç] [bit] NULL,
	[Maas] [int] NULL,
	[TcNo] [varchar](11) NULL,
	[Referans] [int] NULL,
	[AileYakınları] [varchar](250) NULL,
 CONSTRAINT [PK_tbl_Kisiler] PRIMARY KEY CLUSTERED 
(
	[KisiNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Koyler]    Script Date: 24.09.2023 12:53:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Koyler](
	[KoyNo] [int] IDENTITY(1,1) NOT NULL,
	[KoyAdi] [varchar](50) NULL,
	[MuhtarAdi] [varchar](50) NULL,
	[MuhtarCepTel] [varchar](50) NULL,
	[YardimciAdi] [varchar](50) NULL,
	[YardimciTel] [varchar](50) NULL,
	[KoyDetay] [varchar](200) NULL,
	[Aktiflik] [bit] NULL,
	[Sec] [bit] NULL,
	[Bolge] [int] NULL,
 CONSTRAINT [PK_tbl_Koyler] PRIMARY KEY CLUSTERED 
(
	[KoyNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Maaslar]    Script Date: 24.09.2023 12:53:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Maaslar](
	[MaasNo] [int] IDENTITY(1,1) NOT NULL,
	[MaasAdi] [varchar](50) NULL,
	[MaasDegeri] [int] NULL,
	[Aktiflik] [bit] NULL,
 CONSTRAINT [PK_tbl_Maaslar] PRIMARY KEY CLUSTERED 
(
	[MaasNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Araclar] ON 

INSERT [dbo].[tbl_Araclar] ([AracNo], [AracAdi], [AracSahip], [Seç], [Aktiflik], [AracKapasite]) VALUES (12, N'Caravella(Ömer Tanrıverdi)', 14, 0, 1, 1000)
INSERT [dbo].[tbl_Araclar] ([AracNo], [AracAdi], [AracSahip], [Seç], [Aktiflik], [AracKapasite]) VALUES (13, N'Vakıf Kangoo(Ceyhun)', 41, 1, 1, 500)
INSERT [dbo].[tbl_Araclar] ([AracNo], [AracAdi], [AracSahip], [Seç], [Aktiflik], [AracKapasite]) VALUES (14, N'Abdullah Kangoo', 42, 0, 1, 500)
SET IDENTITY_INSERT [dbo].[tbl_Araclar] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Bolgeler] ON 

INSERT [dbo].[tbl_Bolgeler] ([BolgeNo], [BolgeAdi], [BolgeAciklama], [Aktiflik], [BolgeSorumlusu], [BolgeYardımcısı]) VALUES (57, N'1.Bölge (Behramkale Sahabe )', N'', 1, N'Şahin Altıner', N'Ahmet Altıner')
INSERT [dbo].[tbl_Bolgeler] ([BolgeNo], [BolgeAdi], [BolgeAciklama], [Aktiflik], [BolgeSorumlusu], [BolgeYardımcısı]) VALUES (58, N'2.Bölge(Seyyid Süleyman Hz)', N'', 1, N'Ahmet Ulueren', N'Orhan Demirbaşer')
INSERT [dbo].[tbl_Bolgeler] ([BolgeNo], [BolgeAdi], [BolgeAciklama], [Aktiflik], [BolgeSorumlusu], [BolgeYardımcısı]) VALUES (59, N'3.Bölge(İbrahim Paşa-Paşaköy)', N'', 1, N'Ömer Tanrıverdi', N'Muhammed Emin Kolcu')
SET IDENTITY_INSERT [dbo].[tbl_Bolgeler] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Donemler] ON 

INSERT [dbo].[tbl_Donemler] ([DonemNo], [DonemAdi], [PaketAgirligi], [Aktiflik]) VALUES (12, N'Kurban Dağıtımı', 17, 1)
INSERT [dbo].[tbl_Donemler] ([DonemNo], [DonemAdi], [PaketAgirligi], [Aktiflik]) VALUES (13, N'Ara Dağıtım', 15, 1)
INSERT [dbo].[tbl_Donemler] ([DonemNo], [DonemAdi], [PaketAgirligi], [Aktiflik]) VALUES (14, N'Ramazan Dağıtımı', 23, 1)
SET IDENTITY_INSERT [dbo].[tbl_Donemler] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Erzaklar] ON 

INSERT [dbo].[tbl_Erzaklar] ([ErzakNo], [ErzakAdi], [DonemNo]) VALUES (1, N'Margarin', 12)
INSERT [dbo].[tbl_Erzaklar] ([ErzakNo], [ErzakAdi], [DonemNo]) VALUES (2, N'İrmik', 12)
INSERT [dbo].[tbl_Erzaklar] ([ErzakNo], [ErzakAdi], [DonemNo]) VALUES (3, N'Bulgur', 12)
SET IDENTITY_INSERT [dbo].[tbl_Erzaklar] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Gorevliler] ON 

INSERT [dbo].[tbl_Gorevliler] ([GorevliNo], [GorevliAd], [GorevliSoyAd], [GorevliCinsiyet], [GorevliTel], [Aktiflik], [Seç]) VALUES (12, N'Gürbüz Kağan', N'Arat', N'Erkek', N'553 225 38 37', 1, 1)
INSERT [dbo].[tbl_Gorevliler] ([GorevliNo], [GorevliAd], [GorevliSoyAd], [GorevliCinsiyet], [GorevliTel], [Aktiflik], [Seç]) VALUES (13, N'Hasan', N'Yiğit', N'Erkek', N'', 1, 1)
INSERT [dbo].[tbl_Gorevliler] ([GorevliNo], [GorevliAd], [GorevliSoyAd], [GorevliCinsiyet], [GorevliTel], [Aktiflik], [Seç]) VALUES (14, N'Ömer', N'Tanrıverdi', N'Erkek', N'', 1, 1)
SET IDENTITY_INSERT [dbo].[tbl_Gorevliler] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Hastaliklar] ON 

INSERT [dbo].[tbl_Hastaliklar] ([HastalikNo], [HastalikAdi], [Aktiflik]) VALUES (21, N'Felç', 1)
INSERT [dbo].[tbl_Hastaliklar] ([HastalikNo], [HastalikAdi], [Aktiflik]) VALUES (22, N'Kalp Hastası', 1)
INSERT [dbo].[tbl_Hastaliklar] ([HastalikNo], [HastalikAdi], [Aktiflik]) VALUES (23, N'Şeker', 1)
SET IDENTITY_INSERT [dbo].[tbl_Hastaliklar] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Kategoriler] ON 

INSERT [dbo].[tbl_Kategoriler] ([KategoriNo], [KategoriAdi], [Aktiflik]) VALUES (27, N'Gıda Yardımı', 1)
INSERT [dbo].[tbl_Kategoriler] ([KategoriNo], [KategoriAdi], [Aktiflik]) VALUES (28, N'Nakil', 1)
INSERT [dbo].[tbl_Kategoriler] ([KategoriNo], [KategoriAdi], [Aktiflik]) VALUES (29, N'Vefad', 1)
SET IDENTITY_INSERT [dbo].[tbl_Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Kisiler] ON 

INSERT [dbo].[tbl_Kisiler] ([KisiNo], [KisiAd], [KisiSoyAd], [DogumTarihi], [MedeniHal], [Cinsiyet], [EvDurumu], [AraziDurumu], [BüyükBas], [KücükBas], [BakımDurumu], [IsDurumu], [EkBilgi], [Hastalik], [Koy], [Kategori], [Aktiflik], [Seç], [Maas], [TcNo], [Referans], [AileYakınları]) VALUES (120, N'Ahmet', N'Yalın', CAST(N'1936-01-01T00:00:00.000' AS DateTime), N'', NULL, NULL, NULL, N'', N'', NULL, NULL, N'', NULL, 40, 27, 1, NULL, NULL, N'', NULL, N'')
INSERT [dbo].[tbl_Kisiler] ([KisiNo], [KisiAd], [KisiSoyAd], [DogumTarihi], [MedeniHal], [Cinsiyet], [EvDurumu], [AraziDurumu], [BüyükBas], [KücükBas], [BakımDurumu], [IsDurumu], [EkBilgi], [Hastalik], [Koy], [Kategori], [Aktiflik], [Seç], [Maas], [TcNo], [Referans], [AileYakınları]) VALUES (131, N'Ahmet', N'Çankırı', CAST(N'1968-01-02T00:00:00.000' AS DateTime), N'', NULL, NULL, NULL, N'', N'', NULL, NULL, N'', 28, 40, 27, 1, NULL, NULL, N'', NULL, N'')
INSERT [dbo].[tbl_Kisiler] ([KisiNo], [KisiAd], [KisiSoyAd], [DogumTarihi], [MedeniHal], [Cinsiyet], [EvDurumu], [AraziDurumu], [BüyükBas], [KücükBas], [BakımDurumu], [IsDurumu], [EkBilgi], [Hastalik], [Koy], [Kategori], [Aktiflik], [Seç], [Maas], [TcNo], [Referans], [AileYakınları]) VALUES (132, N'Fatma ', N'Kuş', NULL, N'', NULL, NULL, NULL, N'', N'', NULL, NULL, N'', NULL, 40, 27, 1, NULL, NULL, N'', NULL, N'')
SET IDENTITY_INSERT [dbo].[tbl_Kisiler] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Koyler] ON 

INSERT [dbo].[tbl_Koyler] ([KoyNo], [KoyAdi], [MuhtarAdi], [MuhtarCepTel], [YardimciAdi], [YardimciTel], [KoyDetay], [Aktiflik], [Sec], [Bolge]) VALUES (40, N'Ahmetçe', N'Ahmetçe Muhtar', N'Ahmetçe Telefon', N'', N'', N'', 1, 1, 57)
INSERT [dbo].[tbl_Koyler] ([KoyNo], [KoyAdi], [MuhtarAdi], [MuhtarCepTel], [YardimciAdi], [YardimciTel], [KoyDetay], [Aktiflik], [Sec], [Bolge]) VALUES (41, N'Arıklı', N'Arıklı Muhtar', N'Arıklı Muhtar', N'', N'', N'', 1, 1, 57)
INSERT [dbo].[tbl_Koyler] ([KoyNo], [KoyAdi], [MuhtarAdi], [MuhtarCepTel], [YardimciAdi], [YardimciTel], [KoyDetay], [Aktiflik], [Sec], [Bolge]) VALUES (42, N'Behramkale', N'Behramkale Muhtar', N'MuhtarTelefon', N'', N'', N'', 1, 1, 57)
SET IDENTITY_INSERT [dbo].[tbl_Koyler] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Maaslar] ON 

INSERT [dbo].[tbl_Maaslar] ([MaasNo], [MaasAdi], [MaasDegeri], [Aktiflik]) VALUES (17, N'Çiftçi Bağkur', 2500, 1)
INSERT [dbo].[tbl_Maaslar] ([MaasNo], [MaasAdi], [MaasDegeri], [Aktiflik]) VALUES (18, N'SSK', 3000, 1)
INSERT [dbo].[tbl_Maaslar] ([MaasNo], [MaasAdi], [MaasDegeri], [Aktiflik]) VALUES (19, N'Evde Bakım', 2000, 1)
SET IDENTITY_INSERT [dbo].[tbl_Maaslar] OFF
GO
ALTER TABLE [dbo].[tbl_Araclar]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Araclar_tbl_Gorevliler] FOREIGN KEY([AracSahip])
REFERENCES [dbo].[tbl_Gorevliler] ([GorevliNo])
GO
ALTER TABLE [dbo].[tbl_Araclar] CHECK CONSTRAINT [FK_tbl_Araclar_tbl_Gorevliler]
GO
ALTER TABLE [dbo].[tbl_Erzaklar]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Erzaklar_tbl_Donemler] FOREIGN KEY([DonemNo])
REFERENCES [dbo].[tbl_Donemler] ([DonemNo])
GO
ALTER TABLE [dbo].[tbl_Erzaklar] CHECK CONSTRAINT [FK_tbl_Erzaklar_tbl_Donemler]
GO
ALTER TABLE [dbo].[tbl_Kisiler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Kisiler_tbl_Gorevliler] FOREIGN KEY([Referans])
REFERENCES [dbo].[tbl_Gorevliler] ([GorevliNo])
GO
ALTER TABLE [dbo].[tbl_Kisiler] CHECK CONSTRAINT [FK_tbl_Kisiler_tbl_Gorevliler]
GO
ALTER TABLE [dbo].[tbl_Kisiler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Kisiler_tbl_Hastaliklar] FOREIGN KEY([Hastalik])
REFERENCES [dbo].[tbl_Hastaliklar] ([HastalikNo])
GO
ALTER TABLE [dbo].[tbl_Kisiler] CHECK CONSTRAINT [FK_tbl_Kisiler_tbl_Hastaliklar]
GO
ALTER TABLE [dbo].[tbl_Kisiler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Kisiler_tbl_Kategoriler] FOREIGN KEY([Kategori])
REFERENCES [dbo].[tbl_Kategoriler] ([KategoriNo])
GO
ALTER TABLE [dbo].[tbl_Kisiler] CHECK CONSTRAINT [FK_tbl_Kisiler_tbl_Kategoriler]
GO
ALTER TABLE [dbo].[tbl_Kisiler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Kisiler_tbl_Koyler] FOREIGN KEY([Koy])
REFERENCES [dbo].[tbl_Koyler] ([KoyNo])
GO
ALTER TABLE [dbo].[tbl_Kisiler] CHECK CONSTRAINT [FK_tbl_Kisiler_tbl_Koyler]
GO
ALTER TABLE [dbo].[tbl_Kisiler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Kisiler_tbl_Maaslar] FOREIGN KEY([Maas])
REFERENCES [dbo].[tbl_Maaslar] ([MaasNo])
GO
ALTER TABLE [dbo].[tbl_Kisiler] CHECK CONSTRAINT [FK_tbl_Kisiler_tbl_Maaslar]
GO
ALTER TABLE [dbo].[tbl_Koyler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Koyler_tbl_Bolgeler] FOREIGN KEY([Bolge])
REFERENCES [dbo].[tbl_Bolgeler] ([BolgeNo])
GO
ALTER TABLE [dbo].[tbl_Koyler] CHECK CONSTRAINT [FK_tbl_Koyler_tbl_Bolgeler]
GO
USE [master]
GO
